<include file="Public:header" />
<body>
<include file="Public:nav" />
<div class="container">
  <div class="page-header">
    <h2>三丰原科技</h2>
  </div>
  <div class="MiniBox1">

  <div class="row">
    <div class="col-md-4">
      <div class="page-header miniheight1">
        <h4> 我的数据</h4>
      </div>
      <canvas id="canvas" height="250" width="250"></canvas>
      <div class="canvascode">
        <ul>
          <li><span class="canvas1"></span>{$pagecount}项独立页</li>
          <li><span class="canvas4"></span>{$articlecount}篇文章</li>
          <li><span class="canvas3"></span>{$categorycount}个分类</li>
          <li><span class="canvas2"></span>{$commentcount}条评论</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="page-header miniheight1">
        <h4> 最近文章</h4>
      </div>
      <ul>
        <foreach name='articles' item='a'>
          <li><span>{$a.time|date='Y-m-d',###}</span><a href="#">{$a.title}</a></li>
        </foreach>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="page-header miniheight1">
        <h4> 最新评论</h4>
      </div>
      <ul>
        <foreach name='comment' item='b'>
          <li><a href="#">[{$b.couname}]  {$b.content|substr=0,100}</a></li>
        </foreach>
      </ul>
    </div>
  </div>
  <include file="Public:Copy" /> </div>
<script src="[!Public]Js/Chart.js"></script> 
<script>
var doughnutData = [
				{
					value: {$pagecount},
					color:"#8bd7ac"
				},
				{
					value : {$articlecount},
					color : "#f78d98"
				},
				{
					value : {$categorycount},
					color : "#ffc467"
				},
				{
					value : {$commentcount},
					color : "#46BFBD"
				},

			
			];

	var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
    </script>
</body>
</html>