<include file="Public:Header" />
<body>
<include file="Public:Nav" /><span id="result"></span>
<div class="container">
    <!--内容开始-->
    <div class="page-header">
        <h3>修改文章</h3>
    </div>
    <div class="MiniBox2">
        <form role="form" method="post" action="{:U('update')}" enctype="multipart/form-data" >
            <div class="MiniBox2_left">
                <input type="text" class="form-control miniinput" placeholder="{$Think.lang._title_}" name="title" value="{$article.title}">
            </div>
            <div class="MiniBox2_rifht">
                <select name='cid' class="form-control miniinput2">
                    <volist name="clist" id="vo">

                        <eq name="vo['cid']" value="$article['cid']">
                            <option value="{$vo.cid}" selected>{$vo.html}{$vo['name']}</option>
                            <else/>

                            <option value="{$vo.cid}">{$vo.html}{$vo['name']}</option>
                        </eq>
                    </volist>
                </select>
            </div>
            <textarea class="form-control miniinput3" rows="3" name="summary" id="zhaiyao" placeholder="{$Think.lang._summary_}">{$article.summary}</textarea>

            <input type="text" name="tag" value="{$article.tag}" class="form-control miniinput5" placeholder="{$Think.lang._key_}" >
            <input class="hidden" name="img" id="img" type="text" value="{$article.img}">


            <div class="thumbnail upload-button">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img id="upoadImgShow" src="{$article.img}">

            </div>
            <input type="button" id="uploadImg" class="upload-button " value="上传图片">



            <div class="miniinput4">
                <input type="checkbox" name="hot" value="1"  <eq name="artcle['hot']" value="1">checked</eq>>&nbsp;推荐&nbsp;
                <input type="checkbox" name="is_top" value="1" <eq name="artcle['is_top']" value="1">checked</eq>>&nbsp;{$Think.lang._stick_}
            </div>


            <textarea class="form-control miniinput3" rows="20" id="editor_id" name="content" >{$article.content}</textarea>


            <input type="hidden" name="aid" value="{$article.aid}">

            <button type="submit" class="btn btn-info minibtn">{$Think.lang._update_}</button>
            <div class="btn-group">
                <button type="button" class="btn btn-info minibtn dropdown-toggle" data-toggle="dropdown">{$Think.lang._choice_} <span class="caret"></span></button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="reset">{$Think.lang._rewrite_}</a></li>
                    <li>
                        <a href="#" id="write_high_open">{$Think.lang._senior_}</a>
                        <a href="#" id="write_high_close">{$Think.lang._close_}</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--内容结束-->
    <include file="Public:Copy" />
</div>
<script charset="utf-8" src="[!Public]editor/kindeditor.js"></script>
<script charset="utf-8" src="[!Public]editor/lang/zh-cn.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            uploadJson : '[!Public]editor/php/upload_json.php',
            fileManagerJson : '[!Public]editor/php/file_manager_json.php',
            themeType : 'simple',
            langType:'{$Think.config.DEFAULT_LANG}',
            allowFileManager : false,
            allowPreviewEmoticons : true,//远程图片关闭
            allowImageUpload : true, //显示上传图片按钮
            afterBlur:function(){this.sync();},
            items : ['source', '|', 'fullscreen', 'undo', 'redo', 'print', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript',
                'title', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'removeformat', '|', 'image',
                'flash', 'media', 'advtable',  'emoticons', 'link', 'unlink',
                '|', 'baidumap','code','about']

        });


        var uploadbutton = K.uploadbutton({
            button : K('#uploadImg')[0],
            fieldName : 'imgFile',
            url : '[!Public]editor/php/upload_json.php',
            afterUpload : function(data) {
                if (data.error === 0) {
                    //alert(data.url);
                    $("#upoadImgShow").attr("src",data.url);

                    $("#img").val(data.url);
                } else {
                    //alert(data.message);
                }
            }
        });
        uploadbutton.fileBox.change(function(e) {
            uploadbutton.submit();
        });

    });
</script>


<script>

    $("#reset").click(function(){
        $("input, #zhaiyao").val("");
        editor.html('');


    });
    $("#write_high_open").click(function() {
        $("#write_high").fadeIn();
        $("#write_high_open").hide(1);
        $("#write_high_close").show(1);
    });
    $("#write_high_close").click(function() {
        $("#write_high").hide();
        $("#write_high_close").hide(1);
        $("#write_high_open").show(1);
    });
    $(".close").click(function(){
        $("#upoadImgShow").attr("src","");
        $("#img").val("");
    });

</script>

</body>
</html>