<div class="list-group">
    <li class="list-group-item">
        <h4>联系方式</h4>
    </li>
    <li class="list-group-item">
        地址：德阳市旌阳区华山大厦804
    </li>
    <li class="list-group-item">
        邮编：618000
    </li>
    <li class="list-group-item">
        电话：0838-2228081
    </li>
    <li class="list-group-item">
        传真：0838-2228081
    </li>
    <li class="list-group-item">
        手机：13890226218
    </li>
    <li class="list-group-item">
        QQ：363615616
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=363615616&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:363615616:52" alt="联系我们" title="联系我们"/></a>
    </li>
    <li class="list-group-item">
        网址：mucaosu.com
    </li>
    <li class="list-group-item">
        Email：mucaosu@qq.com
    </li>
</div>