<footer id="footer" class="well bg-primary ">
    <div class="container row">
        <div class="col-lg-4 col-md-4 col-xs-4">
            <ul class="list-group ">
                <li class="list-group-item"><h4>友情链接 </h4>  </li>
                <li class="list-group-item"><a href="http://www.sfynet.com" target="_blank">三丰原商城</a></li>

            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <ul class="list-group ">
                <li class="list-group-item"><h4>产品链接 </h4>  </li>
                <li class="list-group-item"><a href="http://mucaosu.com/product/1.html" target="_self">苜草素</a> </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <ul class="list-group ">
                <li class="list-group-item"><h4>联系我们</h4> </li>
                <li class="list-group-item"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=363615616&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:363615616:51" alt="点击询价" title="点击询价"></a> </li>
                <li class="list-group-item">邮件:<a href="mailto:mucaosu@qq.com">mucaosu@qq.com</a> </li>
                <li class="list-group-item">传真/电话：0816-2821098 </li>
                <li class="list-group-item">手机：13890226218 </li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <p>
                ICP备案证书号:<a href="http://www.miibeian.gov.cn/">蜀ICP备15007080号-2</a>
            </p>
            <p>
                <script type="text/javascript">     var locationUrl = escape(document.location.href);     document.write(unescape("%3Cscript")+" charset='utf-8' src='http://union.rising.com.cn//InfoManage/TrojanInspect.aspx?p1=XNk3xHG5v8vIFnMxUbNuAcdfaxrzCXAS7QgtU4C7-2U=&p2=KgrQMv9UVHQ=&p3=XNk3xHG5v8vIFnMxUbNuAbbMMZOL-gLs&url="+ locationUrl  + "' type='text/javascript'"+unescape("%3E%3C/script%3E"));</script>
                <a rel="nofollow" href="http://webscan.360.cn/index/checkwebsite/url/mucaosu.com" target="_blank"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/485751ec75b79d82214baf6d6be01eeb"/></a>
                <img src="http://www.sfynet.com/themes/ecmoban_dangdang/images/knetSealLogo.png"/>
            </p>
        </div>


    </div>
</footer>

<script src="//cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="[!JS]layer.js"></script>
<!--<script src="//cdn.staticfile.org/Han/3.0.0/han.min.js"></script>-->