<!--head start-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$title}</title>
    <!--[if lt IE 9]>
    <script src="[!JS]html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/3.0.1/normalize.min.css">

    <link rel="stylesheet" href="[!CSS]main.css">
    <link rel="stylesheet" href="[!CSS]nav.css">
    <!--<link rel="stylesheet" media="all" href="//cdn.staticfile.org/Han/3.0.0/han.min.css">-->
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}">
<!--head end-->
