<!--nav start-->
    <div class="container">
        <div class="masthead">

            <div class="nav">
                <a href="__ROOT__">
                    <img src="__PUBLIC__dist/image/logo.gif"/>
                </a>
                <a class="pull-right">
                    <img  src="__PUBLIC__dist/image/tel.gif"/>
                </a>
            </div>
        </div>
    </div>
    <div class="masthead-nav">
        <nav>
            <ul class="nav nav-justified">
                <foreach name='menu' item='m'>
                    <li class="<if condition='$m.active eq 1'>active</if>">
                        <a href="{$m.url}" title="{$m.name}">{$m.name}</a>
                    </li>
                </foreach>

            </ul>
        </nav>
    </div>
<!--nav end-->
