<include file="Public:header" />
<body>
<include file="Public:nav"/>

<div id="body">
  <div class="container">
    <div class="col-group">
      <div class="col-8" id="main">
        <div class="res-cons">
          <article class="post">
            <div class="post-content-pages">
              <div id="archives">
                <div class="al_year">{$cate.cname}</div>
                <ul class="al_mon_list">
                      <foreach name='list' item='list'>

                  <li>{$list.time|date='F/d Y',###}<a href="{:U('/content/'.$list['aid'])}">{$list.title}</a> </li>
                       </foreach>
                </ul>
                </li>
                </ul>
              </div>
              
        

              

              
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Public:footer"/>
</body>
</html>