<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/header" />

    <style>
        #mainProduct .list-group,
        #mainProduct .list-group-item{
            border: none;
            box-shadow:none;
        }
    </style>
</head>
<body>
<include file="Public/nav" />
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 sidebar">
                <div class="list-group">
                    <li class="list-group-item">
                        <h4>产品中心</h4>
                    </li>
                    <li class="list-group-item">
                        苜草素
                    </li>
                </div>
                <include file="Public/contact" />
            </div>
            <div class="col-lg-9 col-sm-9 col-md-9" id="mainProduct">

                <div class="media-list">
                    <div class="media-left">
                        <img  style="cursor:hand;cursor: pointer;" class="media-object thumbnail" width="300" height="300" src="{$product.img}" alt="{$product.name}">
                    </div>
                    <div class="media-body">

                        <ul class="list-group">
                            <li class="list-group-item"><h3>{$product.name}</h3></li>
                            <li class="list-group-item">[产品规格]  {$product.spec}</li>
                            <li class="list-group-item">[贮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;藏]  请于常温、干燥、通风处保存。</li>
                            <li class="list-group-item">[保&nbsp;&nbsp;质&nbsp;&nbsp;期]  常温下2年</li>
                            <li class="list-group-item">[生产企业] 四川蓝海洋苜草素科技有限公司</li>
                            <li class="list-group-item">

                                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=363615616&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:363615616:51" alt="点击询价" title="点击询价"/></a>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="media-list">
                    <div class="media-body">
                        {$product.description|htmlspecialchars_decode}
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>

<script>
    layer.config({
        extend: 'extend/layer.ext.js'
    });
    layer.ready(function(){ //为了layer.ext.js加载完毕再执行
        layer.photos({
            photos: '.media-left'
        });
    });
</script>
</body>
</html>