

body {
    padding-top: 20px;
    font-family: SimSun,"Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB,
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
}

.panel{
    border-radius:0 ;
}
.index-panel{
    font-family: SimSun,"Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB,
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
}

#body *,
#footer *{
    border-radius: 0;
}

#body{
    padding-top: 20px;
    min-height: 500px;
}

#mainList .list-group-item{
    border-left: 0;
    border-right: 0;
}
#mainList .breadcrumb{
    background-color: transparent;

    display: inline-block;
}
#mainList h3{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
#mainList .media-heading{
    color: #ac2925;

}

#mainList .panel-heading{
    background-image: none;
    background-color: #fff;
}
#mainList .media{
    margin-top: 0px;
}


#mainArticle .panel-heading{
    text-align: center;
    background-image: none;
    background-color: #fff;
}
#mainArticle .panel-heading blockquote,
#mainList .panel-heading blockquote{
    border: none;
}

#mainArticle .panel,
#mainList .panel{
    border: none;
}

#mainArticle  h3{
    text-align: center;
}
#mainArticle img{
    max-width: 600px;
    height: inherit;
}

#indexPage #main{
    margin: auto;
}
#indexPage  #main .panel,
#indexPage #panelPic img{
    height: 300px;
}
#indexPage #main .list-group-item{
    border-left: 0;
    border-right: 0;
    padding: 5px 3px;
    font-size: 16px;
}
#indexPage #main .index-panel{
    padding-left: 5px;
    padding-right: 5px;
}
#indexPage #panelPic .panel-body {
    padding: 0px;
}
#indexPage #main .index-panel .panel-heading a,
#indexPage #main .index-panel .panel-heading a:hover{
    color: #FEFEFE;
}

#indexPage #main p {
    font-size: 16px;
}
#indexPage img {
    max-width: 100%;
}
#indexPage .carousel img{
    margin: 0 auto;
}
#footer-carousel a{
    margin-bottom: 0;
}
#indexProduct .thumbnail{
    margin: 0;
}
#indexProduct{
    border: #ebccd1 1px solid;
    padding: 0;
    margin-bottom: 20px;
}
#indexProduct #footerCarousel{
    margin: 5px 2px;
}
#indexProduct #footerCarousel .carousel-control{
    width: 5%;
}
#indexProduct #footerCarousel .carousel-indicators .active{
    background:#ac2925;
}
#indexProduct #footerCarousel .carousel-indicators li{
    border: 1px solid #ac2925;
}