*{
    /*font-family:arial, "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB,arial, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;*/

    /*font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;*/

    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB,
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
    /*font-family: "Biaodian Pro Sans CNS","Helvetica Neue",Helvetica,Arial,"Zhuyin Heiti","Han Heiti",sans-serif;*/
}

body {
    padding-top: 20px;
}
.container {
    width:1150px;
    padding:0 20px;
    margin:0 auto;
}
.panel{
    border-radius:0 ;
}

#body *,
#footer *{
    border-radius: 0;
}

#body{
    padding-top: 20px;
    min-height: 500px;
}

#mainList .list-group-item{
    border-left: 0;
    border-right: 0;
}
#mainList .breadcrumb{
    background-color: transparent;

    display: inline-block;
}
#mainList h3{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
#mainList .media-heading{
    color: #337ab7;
}

#mainList .panel-heading{
    background-image: none;
    background-color: #fff;
}
#mainList .media{
    margin-top: 0px;
}


#mainArticle .panel-heading{
    text-align: center;
    background-image: none;
    background-color: #fff;
}
#mainArticle .panel-heading blockquote,
#mainList .panel-heading blockquote{
    border: none;
}

#mainArticle .panel,
#mainList .panel{
    border: none;
}

#mainArticle  h3{
    text-align: center;
}
#mainArticle img{
    max-width: 600px;
    height: inherit;
}