

.blog-masthead,
.blog-masthead  nav,
.blog-masthead nav > a{
    margin-bottom: 0;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: #c9302c; /* Old browsers */
    background-image: linear-gradient(to bottom, #ac2925 0px, #ac2925 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9302c), to(#ac2925));
    background-image: -webkit-linear-gradient(top, #c9302c 0%, #ac2925 100%);
    background-image:      -o-linear-gradient(top, #c9302c 0%, #ac2925 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #c9302c), to(#ac2925));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac2925', endColorstr='#c9302c',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
}
.blog-masthead nav > a {
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    height: 42px;
    float: left;
    border-left: 1px solid #d5d5d5;
}
.blog-masthead nav > a.active ,
.blog-masthead nav > a.active:hover,
.blog-masthead nav > a.active:focus {
    background-color: #ac2925;
    background-image: none;
}

.blog-masthead nav > a:hover,
.blog-masthead nav> a:focus {
    background-color: #ac2925;
    color: #FFF;


}
.blog-masthead nav > a:first-child{
    border-bottom: 0;
    border-left: none;
}

.blog-nav{
    width: 100%;
}




@media (max-width: 767px) {
    .blog-masthead nav > a{
        padding-left:10px ;
        padding-right: 10px;
    }
    #mainArticle img {
        max-width: 360px;
        height: inherit;
    }
}
@media (min-width: 768px) {
    .blog-masthead nav > a{
        padding-left:30px ;
        padding-right: 30px;
    }
    #mainArticle img {
        max-width: 360px;
        height: inherit;
    }
}
@media (min-width: 992px) {
    .blog-masthead nav > a{
        padding-left:48px ;
        padding-right: 48px;
    }
    #mainArticle img {
        max-width: 800px;
        height: inherit;
    }
}
@media (min-width: 1200px) {
    .blog-masthead nav > a{
        padding-left:58px ;
        padding-right: 58px;
    }
    #mainArticle img {
        max-width: 800px;
        height: inherit;
    }
}






.masthead,
.marketing,
.footer {
    padding-right: 0;
    padding-left: 0;
}
/*
c9302c
ac2925


2e6da4
337ab7
*/
#footer{
    border-radius: 0;
    width: 100%;
    margin-bottom:0;
    text-align: center;
    background-color: #c9302c; /* Old browsers */
    background-image: linear-gradient(to bottom, #c9302c 0px, #ac2925 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9302c), to(#ac2925));
    background-image: -webkit-linear-gradient(top, #c9302c 0%, #ac2925 100%);
    background-image:      -o-linear-gradient(top, #c9302c 0%, #ac2925 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #c9302c), to(#ac2925));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac2925', endColorstr='#c9302c',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat0 gradient */

}
#footer .container{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}
#footer .list-group{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-align: center;
}
#footer .list-group-item{
    text-align: left;
    border: none;
    background-color: transparent;
    color: #FEFEFE;
    padding: 5px 0 0 0;
}

#footer a,
#footer a:hover,
#footer a:focus{
    color: #FEFEFE;
}