<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/header" />
    <style>




    </style>
</head>
<body id="indexPage">
    <include file="Public/nav" />
<!--幻灯片 start-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
    </ol>

    <!-- Wrapper for slides  Public\dist\image-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="http://www.mucaosu.com/public/uploads/index/0-4.jpg" alt="苜草素，国家 ”863“ 计划成果， 拥有国家自主知识产权，北京市科技进步二等奖，德阳市优秀专利奖">
        </div>
        <div class="item">
            <img src="http://www.mucaosu.com/public/uploads/index/0-2.jpg" alt="我们建立了以苜草素为核心”五位一体“的健康养殖技术体系，为客户提升养殖综合效益，降低养殖综合成本，创造卓越价值。">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--幻灯片 end-->


<div id="body">
    <div class="row container" id="main">
        <!--<button class="btn btn-danger active">xxxxx</button>-->

        <div class="col-lg-6 col-md-6  col-xs-12 index-panel " id="panelPic">
            <div class="panel ">
                <div class="panel-body">
                    <!--幻灯片 start-->
                    <div id="carousel-sub" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-sub" data-slide-to="0" class="active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <img src="http://www.mucaosu.com/public/uploads/index/3.jpg" alt="">
                                <div class="carousel-caption">

                                </div>
                            </div>
                        </div>

                    </div>
                    <!--幻灯片 end-->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6  col-xs-12 index-panel">
            <div class="panel panel-danger">
                <div class="panel-heading">
                <span>
                    新闻中心
                </span>
                    <a href="{:U('/news')}" class="pull-right">更多</a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <volist name="news" id="vo">
                                <a href="{:U('news/'.$vo['aid'])}" class="list-group-item" title="{$vo.title}">
                                    {$vo.title|msubstr=0,30}
                                </a>
                        </volist>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6  col-xs-12 index-panel">
            <div class="panel panel-danger">
                <div class="panel-heading">
                <span>
                    技术研发
                </span>
                    <a href="{:U('/tech')}" class="pull-right">更多</a>
                </div>

                <div class="panel-body">
                    <div class="list-group">
                        <volist name="tech" id="vo">
                                <a href="{:U('tech/'.$vo['aid'])}" class="list-group-item"  title="{$vo.title}">
                                    {$vo.title|msubstr=0,30}
                                </a>

                        </volist>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6  col-xs-12 index-panel">

            <div class="panel panel-danger">
                <div class="panel-heading">
                <span>
                    客户服务
                </span>
                    <a href="{:U('/server')}" class="pull-right">更多</a>
                </div>

                <div class="panel-body">
					<div class="list-group">
                        <volist name="server" id="vo">
                                <a href="{:U('server/'.$vo['aid'])}" class="list-group-item"  title="{$vo.title}">
                                    {$vo.title|msubstr=0,30}
                                </a>

                        </volist>
                    </div>
                </div>
            </div>
        </div>
      <div class="col-lg-12 col-md-12  col-xs-12" id="indexProduct">
        <!--幻灯片 start-->
        <div id="footerCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <assign name="cindex" value="0" />

            <volist name="product" id="vo" mod="3" key="k">
              <eq name="mod" value="0">

                <li data-target="#footerCarousel" data-slide-to="{$cindex}" class="<eq name='cindex' value='0'> active</eq>"></li>
                <assign name="cindex" value="$cindex+1" />
              </eq>

            </volist>

          </ol>

          <!-- Wrapper for slides  Public\dist\image-->
          <div class="carousel-inner" role="listbox">

            <volist name="product" id="vo" mod="3" key="k">
              <eq name="mod" value="0">
                <if condition="$k eq 1 ">
                  <div class="item  active" >
                  <else />
                  <div class="item" >
                </if>

              </eq>

              <div class="col-lg-4 col-md-4 col-xs-4 ">
                <a class="thumbnail" target="_blank"  href="http://www.mucaosu.com/product/{$vo.pid}.html">
                  <img  src="{$vo.thumb}" alt="">
                </a>
              </div>


              <if condition="($mod eq 2) OR ($productCount eq $k) ">
              </div>
                </if>

            </volist>
          </div>

          <!-- Controls -->
         <a class="left carousel-control" href="#footerCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#footerCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!--幻灯片 end-->
</div>



    </div>


</div>




<include file="Public/footer" />
</body>
</html>